.navbar {
     outline: 1px solid red;
     padding: 0;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.linksContainer {
    display: flex;
    gap: 1rem;
    padding: 0.4rem 2rem;
}

.logo {
    font-size: 2rem;
}